{% extends 'EpixaForumBundle::layout.html.twig' %}

{% block content %}
    <p>Topic view: {{ topic.getTitle() }}, page {{ page }}</p>

    <section class="topic_comment">{{ topic.getComment() }}</section>

    {% for post in posts %}
        <section id="post-{{ post.getId() }}" class="{{ cycle(['odd', 'even'], loop.index) }}">
            {{ post.getComment() }}
        </section>
    {% else %}
        <section id="no-posts">
            <p>There are no posts that match that criteria.</p>
        </section>
    {% endfor %}
{% endblock %}

{% set code = code(_self) %}